<!DOCTYPE html>
<html lang="en">

<head>
  <title>Test</title>
  <link href="/static/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="main-container">
    {{{body}}}
  </div>
</body>

</html>