<div><center>
<form action="/edit?id={{this.id}}" method="post" >
<input type="text" placeholder="Editor" name="eddata" class="textbox"/>
<button type="submit" class = "send">Edit</button> </form>
</center></div>