<ul class = "List">
{{#each list}}
<p>{{this.value}}  <a href="/edit?id={{this.id}}" class="ed">Edit</a> <a href="/delete?id={{this.id}}" class="del">Delete</a></p>
{{/each}}
</ul>
<div><center>
<form action="/add" method="post">
<input type="text" placeholder="Data" name="data" class="textbox"/>
<button type="submit" class = "send">Send</button>
</form>
</center>
</div>