@font-face {
  font-family: "OpenSans-BoldItalic";
src: 
    url("fonts/OpenSans-SemiBoldItalic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
  background-image: linear-gradient(to top, #7393cf 0%, #bac8e0 100%);
  min-height: 100vh;
  margin: 0;
}

  button.send{
    color: #aaac2e;
    
  text-decoration: none;
  text-align: center;
  padding: 3px 10px;
  display: inline;
  font-family: "OpenSans-BoldItalic",sans-serif;
  border: 1px solid #ec561b;
  font-size: 25px;
  }

  .box_list{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    position: relative;
    box-sizing: border-box;
    width: 500px;    
    background-color: #f5f5f5;
  }
  a.del{
  position: absolute;
  right: 10px;
  color: #aaac2e;
  text-decoration: none;
  text-align: center;
  padding: 2px 10px;
  display: inline;
  font-family: "OpenSans-BoldItalic",sans-serif;
  border: 1px solid #ec561b;
  }
  a.ed{
  position: absolute;
  right: 110px;
  color: #aaac2e;
  text-decoration: none;
  text-align: center;
  padding: 2px 10px;
  display: inline;
  font-family: "OpenSans-BoldItalic",sans-serif;
  border: 1px solid #ec561b;
  }

  p {
    padding-top: 6px;
    font-size: 25px;
    font-family: "OpenSans-SemiBoldItalic", sans-serif;
  }

  input.textbox_add_or_ed{
    margin-top: 7px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 7px;
    font-size: 25px;
    font-family: "OpenSans-SemiBoldItalic", sans-serif;
  }